* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
    color: #FFF;
}

body {
    padding: 2rem;
    background-color: #0e1129;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
}
